html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  padding: 15px;
  box-sizing: border-box;
}
.memory-app,
.memory-app * {
  box-sizing: border-box;
}
.memory-app {
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-weight: 600;
  color: #98a2a4;
  height: 100%;
  * {
    box-sizing: border-box;
  }
  a,
  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
    color: #98a2a4;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
    text-transform: uppercase;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  .icon-cards {
    width: 40px;
    height: auto;
  }
}
