.memory-app {
  .button {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    &.medium {
      border-radius: 5px;
      background: none;
      background-color: #fff;
      border: none;
      padding: 20px 30px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
    }
    &.blue {
      background-color: #63c9dd;
      &:hover {
        background-color: darken(#63c9dd, 10%);
      }
    }
  }
}
