.memory-app {
  .card-matrix {
    flex: 1;
    margin: 25px 0;
    .table {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border-collapse: collapse;
      margin: 0 auto;
    }
    .tr {
      display: flex;
      flex: 1;
    }
    .td {
      padding: 0.3%;
      flex: 1;
      //pointer-events: none;
    }
  }
}
