.memory-app {
  .config-card-number {
    margin: 20px 0;
    .cards {
      position: relative;
      width: 92px;
      height: 50px;
      margin: 0 auto;
      .card {
        width: 92px;
        height: 50px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.1s ease-out, background-color 0.1s ease-in-out,
          opacity 0.1s ease-out;
        user-select: none;
        cursor: pointer;
        &.base {
          background-color: #d7dee0;
          z-index: 103;
          &:hover {
            background-color: darken(#d7dee0, 10%);
          }
        }
        &.number {
          background-color: #63c9dd;
          z-index: 102;
          opacity: 0;
          &.visible {
            opacity: 101;
          }
          &:hover {
            background-color: darken(#63c9dd, 10%);
          }
        }
      }
    }
  }
}
