.memory-app {
  .main-container-component {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 30px 0;
    }
    .icon-cards {
      width: 40px;
      height: auto;
    }
  }
}
